name: "[코드레이] Jar Run Only 실패케이스 샘플"

on:
  workflow_dispatch:   # 수동 실행

jobs:
  coderay-run-fail:
    runs-on:
      group: organization/mygit-runner-linux
    steps:
      - name: Coderay 최신 JAR 다운로드
        run: |
          curl -L \
            -O \
            https://github.com/skccmygit/skax-coderay-guide/releases/download/latest/coderay-open-api.jar
          
      - name: Coderay SAST 실행
        run: |
          java -jar coderay-open-api.jar \
            --SERVICE_NAME=${{ vars.CODERAY_SERVICE_NAME }} \
            --ACCESS_KEY=${{ vars.CODERAY_ACCESS_KEY }} \
            --SECRET_KEY=${{ vars.CODERAY_SECRET_KEY }} \
            --ACC_CODE=${{ vars.CODERAY_ACC_CODE }} \
            --PC_CODE=${{ vars.CODERAY_PC_CODE }} \
            --SRC_URL=${{ vars.CODERAY_SRC_URL }} \
            --REV=refs/heads/${{ github.event.inputs.environment || github.ref_name }} \
            --MIDDLE_ALLOW=y \
          echo "Coderay 상세 결과는 https://skax.coderay.co.kr:28443 에서 확인하세요"

      - name: Coderay SAST 실행후
        run: |
          echo "Coderay 실행 완료"
        shell: bash
            

